.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  background-color: grey;
  font-weight: bold;
  font-size:1rem;
}
.button:hover{
	background-color: green;
	color: white;
	
	
}
.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin-top: 2rem;
    padding: 13px 0px;
    border: 2px solid black;
    border-radius: 10px;
}

#cal{
background-color: black;
height: 28.6rem;
width: 23rem;
 border-radius: 1.8rem;


}